<div class="container">
    <div class="row  d-flex justify-content-center align-items-center">
        <div class="col-md-10 about">
            <div class="about-heading">
                <h4>Hello human! </h4> <small>(bots are also welcome)</small>
            </div>
            <div>
                <p>My name is Alex and welcome to my internet home.
                    I am currently working as a Data Engineer at
                    <a href="https://www.icagruppen.se/en/about-ica-gruppen" target="_blank">
                        ICA</a>, Sweden's
                    largest retailer. The ICA customers' generate a lot of data,
                    and that data goes into data pipelines,
                    which I am building and maintaining.
                    You can read more about it in my Resume, which is linked in the top right.
                </p>
            </div>
            <div class="interests">
                <h4>Interests</h4>
                <h6><b>DevOps for Data</b></h6>
                <p>The fields of Data Engineering and Data Science are both quite young
                    without processes and practices that have been battle tested.
                    I am interested in how can I spend as little time as possible on fixing
                    leaking pipelines and instead focus on delivering value to the business,
                    which is what I am getting paid for. How can automate testing of data, pipeline
                    deployment and so on? Then the other question is how can we build applications
                    that are easily built, configured and deployed?
                </p>
                <p>Yeah so basically:</p>
                <div class="row">
                    <div class="col-md-6 d-flex justify-content-center">
                        <img src="/assets/automate.jpg" height="200px">
                    </div>
                    <div class="col-md-6 d-flex justify-content-center">
                        <img src="/assets/dockerize.jpg" height="200px">
                    </div>
                </div>
                <h6><b>(Data) Architecture</b></h6>
                <p>
                    Another area of interest is which Architecture should be used for software projects.
                    I had servers that were running in a cluster mode by a hypervisor called
                    <a href="https://www.proxmox.com/en/" target="_blank">
                        proxmox</a> in my wardrobe, but downsized just one server with quite a lot
                    of RAM that I only run docker containers on. You can read more about this server
                    in the projects section. <small>(I also think Bauhaus is pretty cool)</small>
                </p>
                <h6><b>Bicycle Touring</b></h6>
                <p>I rode my bicycle from Connecticut, USA to San Jose, Costa Rica in 2016-2017.
                    That was pretty cool! It was approximately 10000km. My bike computer broke after
                    7000km and southern Mexico is not the best place to replace a bike computer,
                    so I can't know for sure!
                </p>
                <p>This was my route:</p>
                <div class="col-md-12 justify-content-center">
                    <img src="/assets/bike.png" class="img-fluid">
                </div>
                <h6><b>Fermentation and brewing</b></h6>
                <p>I like fermenting things. I almost always have homemade kimchi in my fridge.
                    I also bake a sourdough loaf on Sundays. Then I do some homebrewing when the
                    passion is there. Last I did Sake, japanese rice wine. It was really cool because
                    it introduced me to koji, a japanese fungus/mold that transforms the starch in
                    the rice to sugar, which the yeast can then eat to produce alcohol.
                </p>
                <h6><b>Arch Linux</b></h6>
                I run Arch Linux on my laptop. It's great!
                <div class="row">
                    <div class="col-md-12 justify-content-center linux">
                        <img src="/assets/linux.png" class="img-fluid">
                    </div>
                </div>
            </div>
            <div class="projects">
                <h4>Projects</h4>
                <p>A showcase of interesting projects I have been working on</p>
                <h5 id="homeserver"><b>Home Server</b></h5>
                <p>
                    I am currently running a server at home, which dutifully sent this website
                    to you. It is running debian with a bunch of docker containers. I am using
                    <a href="https://traefik.io/" target="_blank">traefik</a>
                    as my reverse proxy. Traefik routes my subdomains to exposed docker containers
                    and will automatically enable https on them too. This makes it
                    really easy to spin up new services! It is as simple as just defining
                    a label for which address the docker container should listen to.
                    In the below picture you can see an overview of the architecture,
                    and how the different containers interact with each other.
                </p>
                <div class="col-md-12 justify-content-center">
                    <img src="/assets/architecture.png" class="img-fluid">
                </div>
                <h5 id="elastic"><b>Elastic</b></h5>
                <p>I have an elastic stack running on docker, as seen in the picture above.
                    I am using the normal elastic stack, so Elasticsearch, Logstash, Kibana and
                    Beats(Filebeat and Metricbeat).
                    The authentication logs from the debian server
                    containing all the addresses of hackers trying to hack my server
                    is sent to Logstash (Airflow is managing Logstash).
                    Logstash then processes it for Elasticsearch, which is then
                    sent to a dashboard in Kibana, that can be viewed
                    <a
                        href="https://ssh.dahl.dev/s/public/app/dashboards#/view/45c53a50-2b7a-11eb-8138-5526e648ee71?_g=(filters%3A!()%2CrefreshInterval%3A(pause%3A!f%2Cvalue%3A30000)%2Ctime%3A(from%3A'2020-11-14T17%3A14%3A00.319Z'%2Cto%3Anow))">
                        here!</a>

                </p>
                <p>Below is a sample of what you would get in the full dashboard:</p>
                <div class="embed-responsive embed-responsive-16by9">
                    <iframe class="embed-responsive-item"
                        src="https://ssh.dahl.dev/s/public/app/dashboards#/view/38f3a090-6e33-11eb-881e-e7c2c83fd49b?embed=true&_g=(filters%3A!()%2CrefreshInterval%3A(pause%3A!f%2Cvalue%3A15000)%2Ctime%3A(from%3A'2020-11-14T17%3A00%3A00.000Z'%2Cto%3Anow))&hide-filter-bar=true">
                    </iframe>
                </div>
                <p>To make a public dashboard for a locked down elastic stack was surprisingly
                    not that hard, all that was needed was passing login credentials headers for a
                    guest user that has very little privileges. I followed this guide for that:
                    <a
                        href="https://medium.com/swlh/sharing-kibana-guest-dashboards-without-login-fceb6b8df97d">https://medium.com/swlh/sharing-kibana-guest-dashboards-without-login-fceb6b8df97d</a>
                </p>
                <h5 id="webpipeline"><b>Web pipeline</b></h5>
                <p>This website is automatically deployed to the server when new commits are pushed
                    to the master branch. The website is an angular application, which can be viewed
                    on <a href="https://github.com/aleda145/resumewebpage">github</a>. I have set up
                    <a href="https://www.drone.io/">drone</a>, which is a self hosted CI/CD service that will
                    get a hook from github whenever a new commit is pushed to master. The drone runner
                    can be viewed on <a href="https://drone.dahl.dev/aleda145/resumewebpage/">
                        drone.dahl.dev/aleda145/resumewebpage/</a>.
                    The runner will build the supplied Dockerfile in the repo, and sent it up to my
                    <a href="https://hub.docker.com/u/aleda145">dockerhub account</a>.
                    Then I have <a href="https://github.com/containrrr/watchtower">Watchtower</a> running in a
                    container. Watchtower will poll the docker image every 30 seconds,
                    and if it notices
                    a change in docker images, it will pull the image, create a new container and
                    start the service. This will result in a downtime for the website of around 1 second,
                    which is acceptable since I get very little traffic :)
                </p>
                <div class="col-md-12 d-flex justify-content-center">
                    <img src="/assets/pipeline.png" class="img-fluid">
                </div>
                <h5 id="LARM"><b>Head of IT at LARM</b></h5>
                <p>I was head of IT for <a href="https://larm.lintek.liu.se/">LARM</a> in 2019.
                    I did some cool things to make the fair run as smoothly as possible.
                    I launched the usage of RFID readers for checking into events. The previous process
                    was students walking up to a desk, stating their name and were checked off in an
                    Excel sheet. This was a tedious process that took at least 10 minutes when you have
                    300 students going to an event. My implementation meant that the students could check
                    themselves in with their student card, and they were automatically registered in the database.
                    Taking the check in time down to less than 5 minutes.
                </p>
                <p>
                    Another thing was the scheduling of interviews during the fair day. These
                    interviews are typical in Sweden, where they are called "kontaktsamtal".
                    Since most career fairs are only one day it is hard to create a
                    schedule that works for all companies as well as the students.
                    To further complicate things, students that are chosen
                    for one interview are usually also chosen for another,
                    making it very hard to successfully schedule this. When updating
                    one student, the errors will cascade and it will be a big mess.
                    This whole process took around 40 hours of full time work for two workers.
                    After some contemplation I figured out that this was an
                    <a href="https://en.wikipedia.org/wiki/Assignment_problem">assignment problem</a>.
                    After some debating with my local optimization professor, shout out to
                    <a href="https://users.mai.liu.se/nilqu94/">Nils-Hassan!</a>
                    I arrived at the following optimization problem:
                </p>
                <div class="col-md-12 justify-content-center">
                    <img src="/assets/model.png" class="img-fluid">
                </div>

                <p>Which could then be solved with an optimization solver. I chose Gurobi for this.
                    See the code
                    <a href="https://github.com/aleda145/interview-scheduling-kontaktsamtal-">
                        here</a>.
                    If I had done this again today I would have used Google's
                    <a href="https://developers.google.com/optimization">OR tools</a> instead.
                </p>
            </div>
        </div>
    </div>
</div>