<div class="container py-2">
    <h2 class="text-center py-3">Experience</h2>
    <!-- timeline item 1 -->
    <div class="row no-gutters">
        <div class="col-sm">
            <!--spacer-->
        </div>
        <!-- timeline item 1 center dot -->
        <div class="col-sm-1 text-center flex-column d-none d-sm-flex">
            <div class="row h-50">
                <div class="col">&nbsp;</div>
                <div class="col">&nbsp;</div>
            </div>
            <h5 class="m-2">

                <i class="fa fa-briefcase"></i>
            </h5>
            <div class="row h-50">
                <div class="col border-right">&nbsp;</div>
                <div class="col">&nbsp;</div>
            </div>
        </div>
        <!-- timeline item 1 event content -->
        <div class="col-sm py-2">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">Head of IT for LARM 2019</h4>
                    <div class="text-muted small">May 2018 - Current</div>
                    <p> LARM is the biggest career fair in Linköping. It attracts thousand of students and hundreds of
                        companies. Some of my responsibilites are: </p>
                    <ul>
                        <li> Maintaining and developing the website </li>
                        <li> Analyzing user data </li>
                        <li> Optimizing the server for faster load times </li>
                        <li> Developing an RFID check in for events during the fair </li>
                    </ul> <a class="experience-button btn btn-primary float-right" href="https://lintek.larmdagarna.se"
                        target="_blank">
                        LARM website
                    </a>
                </div>
            </div>
        </div>
    </div>
    <!--/row-->
    <!-- timeline item 2 -->
    <div class="row no-gutters">
        <div class="col-sm py-2">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">Database Technology Lab Assistant</h4>
                    <div class="text-muted small">January 2018 - Current </div>
                    <p class="card-text"> Teaching engineering students about databases, SQL, ER-diagrams, relational
                        models, etc. </p> <a class="experience-button btn btn-primary float-right"
                        href="https://liu.se/studieinfo/en/kurs/tddd81/vt-2018" target="_blank">
                        Course info
                    </a>
                </div>
            </div>
        </div>
        <div class="col-sm-1 text-center flex-column d-none d-sm-flex">
            <div class="row h-50">
                <div class="col border-right">&nbsp;</div>
                <div class="col">&nbsp;</div>
            </div>
            <h5 class="m-2">

                <i class="fa fa-database"></i>
            </h5>
            <div class="row h-50">
                <div class="col border-right">&nbsp;</div>
                <div class="col">&nbsp;</div>
            </div>
        </div>
        <div class="col-sm">
            <!--spacer-->
        </div>
    </div>
    <!--/row-->
    <!-- timeline item 3 -->
    <div class="row no-gutters">
        <div class="col-sm">
            <!--spacer-->
        </div>
        <div class="col-sm-1 text-center flex-column d-none d-sm-flex">
            <div class="row h-50">
                <div class="col border-right">&nbsp;</div>
                <div class="col">&nbsp;</div>
            </div>
            <h5 class="m-2">
                <i class="fa fa-code"></i>
            </h5>
            <div class="row h-50">
                <div class="col border-right">&nbsp;</div>
                <div class="col">&nbsp;</div>
            </div>
        </div>
        <div class="col-sm py-2">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">Data Scientist</h4>
                    <div class="text-muted small">September 2018 - December 2018</div>
                    <p>Worked as a data scientist in a 30 people team to deliver a recommendation system. I was
                        responsible for the implementing the recommendation algorithm and its API.</p> <a
                        class="experience-button btn btn-primary float-right" href="https://github.com/aleda145/coogl3"
                        target="_blank">
                        View on github
                    </a>
                </div>
            </div>
        </div>
    </div>
    <!--/row-->
    <!-- timeline item 4 -->
    <div class="row no-gutters">
        <div class="col-sm py-2">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">Rode a bicycle 10000km from New York to Costa Rica</h4>
                    <div class="text-muted small">June 2016 - February 2017</div>
                    <p> I started in Connecticut, USA and ended in the San Jose, Costa Rica. I cycled through the
                        American South, Mexico, Guatemala, El Salvador and Nicaragua.</p>
                </div>
            </div>
        </div>
        <div class="col-sm-1 text-center flex-column d-none d-sm-flex">
            <div class="row h-50">
                <div class="col border-right">&nbsp;</div>
                <div class="col">&nbsp;</div>
            </div>
            <h5 class="m-2">

                <i class="fa fa-bicycle"></i>
            </h5>
            <div class="row h-50">
                <div class="col border-right">&nbsp;</div>
                <div class="col">&nbsp;</div>
            </div>
        </div>
        <div class="col-sm">
            <!--spacer-->
        </div>
    </div>
    <!--/row-->
    <!-- timeline item 5 -->
    <div class="row no-gutters">
        <div class="col-sm">
            <!--spacer-->
        </div>
        <div class="col-sm-1 text-center flex-column d-none d-sm-flex">
            <div class="row h-50">
                <div class="col border-right">&nbsp;</div>
                <div class="col">&nbsp;</div>
            </div>
            <h5 class="m-2">
                <i class="fa fa-flask"></i>
            </h5>
            <div class="row h-50">
                <div class="col border-right">&nbsp;</div>
                <div class="col">&nbsp;</div>
            </div>
        </div>
        <div class="col-sm py-2">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">Science Teacher</h4>
                    <div class="text-muted small">October 2015 - June 2016</div>
                    <p></p>
                </div>
            </div>
        </div>
    </div>
    <!--/row-->
    <!-- timeline item 6 -->
    <div class="row no-gutters">
        <div class="col-sm py-2">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">Assistant Logistics Controller at GLA Aircargo AB</h4>
                    <div class="text-muted small">June 2014 - August 2014</div>
                    <p> Quality control and customer service at an airport transportation hub at Gothenburg Airport. I
                        was in charge of the trucks driving goods from Gothenburg to Stockholm</p>
                </div>
            </div>
        </div>
        <div class="col-sm-1 text-center flex-column d-none d-sm-flex">
            <div class="row h-50">
                <div class="col border-right">&nbsp;</div>
                <div class="col">&nbsp;</div>
            </div>
            <h5 class="m-2">
                <i class="fa fa-truck"></i>

            </h5>
            <div class="row h-50">
                <div class="col">&nbsp;</div>
                <div class="col">&nbsp;</div>
            </div>
        </div>
        <div class="col-sm">
            <!--spacer-->
        </div>
    </div>
    <!--/row-->
</div>
<!--  template from https://www.codeply.com/go/dI6CknFxts/bootstrap-4-timeline -->