<div class="container education-container">
  <hr />
  <div class="row education justify-content-center align-items-center">
    <h1>Education</h1> </div>
  <div class="card education-top-card">
    <div class="row justify-content-center align-items-center">
      <h2 class="education-title">Industrial Engineering and Management</h2> </div>
    <div class="row">
      <div class="card bg-light education-card col-md">
        <div class="row justify-content-center align-items-center">
          <h4 class="card-title">M. Sc. Logistics</h4> </div>
        <div class="row justify-content-center align-items-center text-muted small">March 2017 - current</div>
        <div class="education-content">
          <div class="row justify-content-center align-items-center ">
            <p class="font-weight-bold"> Linköping Institute of Technology </p>
          </div>
          <p> </p>
        </div>
      </div>
      <div class="card education-card col-md">
        <div class="row  justify-content-center align-items-center">
          <h4>Erasmus year Germany</h4> </div>
        <div class="row justify-content-center align-items-center text-muted small">September 2014 - August 2015</div>
        <div class="education-content">
          <div class="row justify-content-center align-items-center ">
            <p class="font-weight-bold"> Karlsruhe Institute of Technology </p>
          </div>
        </div>
      </div>
      <div class="card education-card col-md">
        <div class="row  justify-content-center align-items-center">
          <h4>B. Sc. Engineering</h4> </div>
        <div class="row justify-content-center align-items-center text-muted small">August 2012 - June 2014</div>
        <div class="education-content">
          <div class="row justify-content-center align-items-center ">
            <p class="font-weight-bold"> Linköping Institute of Technology </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>