<div class="container">
  <ul class="timeline">
    <li>
      <div class="timeline-badge"><i class="fa fa-database"></i></div>
      <div class="timeline-panel">
        <div class="timeline-heading">
          <h4 class="timeline-title">Database Technology Lab Assistant</h4>
          <p><small class="text-muted"><i class="fa fa-calendar"></i>January 2018-Current</small></p>
        </div>
        <div class="timeline-body">
          <p>
            Teaching engineering students about databases, SQL, ER-diagrams, relational models, etc.
          </p>
        </div>
      </div>
    </li>
    <li class="timeline-inverted">
      <div class="timeline-badge warning"><i class="fa fa-line-chart"></i></div>
      <div class="timeline-panel">
        <div class="timeline-heading">
          <h4 class="timeline-title">M.Sc in Supply Chain Management</h4>
          <p><small class="text-muted"><i class="fa fa-calendar"></i>March 2017-Current</small></p>

        </div>
        <div class="timeline-body">

        </div>
      </div>
    </li>
    <li>
      <div class="timeline-badge danger"><i class="fa fa-bicycle"></i></div>
      <div class="timeline-panel">
        <div class="timeline-heading">
          <h4 class="timeline-title">Rode a bicycle from USA to Costa Rica</h4>
          <p><small class="text-muted"><i class="fa fa-calendar"></i>June 2016 - February 2017</small></p>


        </div>
        <div class="timeline-body">
          <p>
            I started in Connecticut, USA and ended in the San Jose, Costa Rica.
          </p>
          <a class="experience-button btn btn-primary float-right" href="#" target="_blank">
            Check it out!
          </a>
        </div>
      </div>
    </li>
    <li class="timeline-inverted">
      <div class="timeline-badge info"><i class="fa fa-book"></i></div>
      <div class="timeline-panel">
        <div class="timeline-heading">
          <h4 class="timeline-title">Science Teacher</h4>
          <p><small class="text-muted"><i class="fa fa-calendar"></i>October 2015 - June 2016</small></p>

        </div>
        <div class="timeline-body">

        </div>
      </div>
    </li>
    <li>
      <div class="timeline-badge danger"><i class="fa fa-beer"></i></div>
      <div class="timeline-panel">
        <div class="timeline-heading">
          <h4 class="timeline-title">Exchange year in Karlsruhe, Germany</h4>
          <p><small class="text-muted"><i class="fa fa-calendar"></i>September 2014 - August 2015</small></p>
          <p>
            also completed my bachelor thesis
          </p>
        </div>
        <div class="timeline-body">
        </div>
      </div>
    </li>
    <li>
      <li class="timeline-inverted">
        <div class="timeline-badge"><i class="fa fa-truck"></i></div>
        <div class="timeline-panel">
          <div class="timeline-heading">
            <h4 class="timeline-title">Assistant Logistics Controller at GLA Aircargo AB</h4>
            <p><small class="text-muted"><i class="fa fa-calendar"></i>June 2014 - August 2014</small></p>
            <p>
              Quality control and customer service at an airport transportation hub at Gothenburg Airport. I was in charge of the trucks driving goods from Gothenburg to Stockholm
            </p>
          </div>
          <div class="timeline-body">
          </div>
        </div>
      </li>
      <li>
        <div class="timeline-badge success"><i class="fa fa-university"></i></div>
        <div class="timeline-panel">
          <div class="timeline-heading">
            <h4 class="timeline-title">Industrial Engineering and Management at Linköping Institute of Technology</h4>
            <p><small class="text-muted"><i class="fa fa-calendar"></i>August 2012 - June 2014</small></p>

          </div>
          <div class="timeline-body">
          </div>
        </div>
      </li>
  </ul>
</div>
<!-- timeline source: https://codepen.io/bsngr/pen/Ifvbi -->
