<div class="container project-container">
    <div class="row projects justify-content-center align-items-center">
        <h1>Projects</h1>
    </div>
    <div class="row">
        <div class="card project-card col-md">
            <div class="row justify-content-center align-items-center">
                <h3>Home lab</h3>
            </div>
            <div class="project-content">

                Set up my own home lab with two old servers running Proxmox, a hypervisor. They work together as a
                datacluster and I have multiple virtual machines on them. Pfsense is installed on one which functions as
                a router for my network.

            </div>
            <a class="project-button btn btn-primary" href="#" target="_blank">
                View on GitHub
            </a>
        </div>
        <div class="card project-card col-md">
            <div class="row  justify-content-center align-items-center">
                <h3>Schlager generator</h3>
            </div>
            <div class="project-content">
                A project that scrapes Swedish Schlager from the internet. The data is then used to generate a new
                schlager song with Markov chains.

            </div>

            <a class="project-button btn btn-primary" href="#" target="_blank">
                View on GitHub
            </a>

        </div>
    </div>

</div>