.profile-card {
  width: 70%;
  margin-top: 5rem;
  box-shadow: 0 4px 15px 0 rgba(0, 0, 0, .2), 0 5px 20px 0 rgba(0, 0, 0, .19);
  border: 2px red;
  background-color: #fff;
  /*  margin: -15rem auto 0;*/
  height: 25rem;
  border-radius: 1rem;
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
  border-bottom-right-radius: 1rem;
  border-bottom-left-radius: 1rem;
}

.card-info {
  padding: 2rem 2rem 0;
}

.card-contact-info li {
  list-style-type: none;
  margin-bottom: .5rem;
}

.card-contact-info li i {
  width: 2rem;
  text-align: center;
  padding-right: .5rem;
}

/*
.heading {
    height: 10rem;
    background-color: #1f5694;
}

*/
.view-button {
  border-right: none;
  padding-right: 0;
}
