<div class="heading">

</div>
<div class="container">

  <div class="row justify-content-center align-items-center">
    <div class="card profile-card">
      <div class="card-info">
        <div class="row">
          <div class="col col-md-9">



            <h1 class="card-title">Alexander Dahl</h1>
            <h4 class="card-subtitle text-muted"> Logistics and Computer Science</h4>
          </div>

          <div class="resume col col-md-3">

            <div class="btn-group">


              <a class="resume-view btn btn-primary" href="/files/AlexanderDahlCV.pdf" target="_blank">
              Resume
           </a>

              <a class="resume-download btn btn-primary" href="/files/AlexanderDahlCV.pdf" download="">
            <i class="fa fa-download" aria-hidden="true"></i>
          </a>
            </div>
          </div>
        </div>
        <hr />
        <div class="card-contact-info row">
          <div class="col col-md-7">
            <ul>
              <li>
                <i class="fa fa-graduation-cap"></i> Graduating December 2019
              </li>
              <li>
                <a href="mailto:alexander.dahl93@gmail.com"><i class="fa fa-envelope"></i>
                alexander.dahl93@gmail.com
                </a>
              </li>
              <li>
                <a href="tel:+46706717969">
              <i class="fa fa-phone"></i>
              +46 706717969
                </a>
              </li>
              <li>
                <i class="fa fa-map-marker"></i> Linköping
              </li>
            </ul>
          </div>
          <div class="col col-md-5">
            <ul>
              <li>

                <a href="https://github.com/aleda145" target="_blank">
                 <i class="fa fa-github fa-2x" aria-hidden="true"></i> Github
               </a>
              </li>
              <li>
                <a href="https://www.linkedin.com/in/dahlalexander/" target="_blank">
                <i class="fa fa-linkedin fa-2x" aria-hidden="true"></i> LinkedIn
               </a>
              </li>
            </ul>
          </div>

        </div>
      </div>
    </div>


  </div>

</div>
